In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier

In [2]:

data=pd.read_excel("Copie de Coeur.xlsx")

In [3]:
data.head()

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0

In [4]:
#Travailler avec une copie du data Frame pour éviter de le rechager en cas d'êrreur
df = data.copy()

In [5]:
#Afficher les informations relatives au DF
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AGE          918 non-null    int64
 1   SEXE         918 non-null    object
 2   TDT          918 non-null    object
 3   PAR          918 non-null    int64
 4   CHOLESTEROL  918 non-null    int64
 5   GAJ          918 non-null    int64
 6   ECG          918 non-null    object
 7   FCMAX        918 non-null    int64
 8   ANGINE       918 non-null    object
 9   DEPRESSION   918 non-null    float64
 10  PENTE        918 non-null    object
 11  CŒUR         918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [6]:
#Encodage des variables qualitatives dans une variable le

le = LabelEncoder()

In [7]:
df_encoded=df.iloc[:,0:12]

In [8]:
#verification de ma variable
df_encoded

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

In [22]:
#recodons par exemple le 'PENTE'
le.fit_transform(df_encoded["PENTE"])

array([0, 2, 0, 2, 0, 0, 0, 0, 2, 0, 0, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 2,
       0, 2, 0, 0, 2, 0, 0, 0, 2, 0, 2, 2, 0, 0, 2, 0, 0, 2, 0, 2, 0, 0,
       2, 2, 0, 0, 2, 2, 2, 2, 0, 0, 2, 0, 2, 2, 0, 2, 0, 0, 0, 2, 0, 0,
       0, 0, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, 0, 2, 0, 0, 2, 0, 2, 2, 2, 2,
       2, 2, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 2, 0, 2, 2, 2, 0, 0, 0, 0, 0,
       2, 2, 0, 0, 0, 2, 2, 2, 0, 2, 2, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 2,
       2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0,
       0, 2, 2, 0, 2, 0, 2, 2, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 2, 2,
       2, 0, 0, 0, 2, 0, 2, 2, 0, 2, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 2, 0,
       2, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 0, 0, 2, 0, 2, 0, 0, 0,
       2, 2, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 0, 2,
       2, 0, 2, 0, 2, 1, 2, 2, 2, 2, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 2,
       2, 0, 2, 0, 2, 2, 0, 0, 2, 0, 0, 0, 2, 2, 2, 0, 0, 2, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 2, 0, 2, 0, 0, 1, 2, 0, 2, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 2, 0, 2, 2, 0, 1, 2, 1, 0, 0, 2, 1,
       0, 0, 0, 0, 0, 2, 2, 0, 0, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0,
       1, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 2, 0, 2,
       1, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0,
       1, 0, 2, 0, 2, 2, 0, 2, 0, 2, 2, 2, 2, 0, 1, 2, 1, 0, 0, 2, 2, 0,
       0, 2, 2, 2, 2, 2, 2, 0, 2, 2, 1, 2, 2, 0, 2, 0, 2, 2, 2, 0, 2, 2,
       1, 0, 1, 0, 2, 0, 0, 2, 2, 2, 2, 2, 0, 2, 0, 1, 2, 2, 2, 1, 0, 1,
       2, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 2, 2, 0, 1, 2,
       2, 0, 1, 2, 0, 2, 0, 2, 0, 2, 2, 2, 1, 0, 2, 1, 0, 2, 0, 0, 2, 0,
       2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 2, 0, 2, 1, 2, 1, 0, 0, 2, 1, 0, 0,
       2, 0, 2, 2, 0, 2, 1, 2, 2, 1, 0, 0, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2,
       2, 2, 2, 2, 2, 2, 1, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 0, 0, 1, 2,
       0, 2, 2, 0, 1, 2, 2, 2, 2, 1, 0, 0, 2, 2, 2, 2, 2, 0, 2, 0, 2, 2,
       2, 0, 2, 0, 0, 2, 2, 2, 2, 2, 0, 0, 2, 0, 2, 2, 1, 2, 0, 2, 2, 2,
       0, 0, 0, 2, 0, 2, 0, 2, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2,
       0, 0, 0, 2, 2, 2, 0, 0, 0, 2, 0, 2, 0, 2, 2, 0, 2, 0, 0, 1, 2, 0,
       0, 2, 0, 2, 0, 0, 2, 0, 2, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 0, 1, 0,
       2, 0, 0, 2, 2, 0, 2, 2, 0, 0, 0, 2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 2,
       0, 0, 0, 0, 2, 0, 1, 1, 1, 2, 2, 2, 0, 1, 0, 2, 2, 0, 0, 2, 0, 0,
       1, 0, 1, 0, 2, 0, 0, 2, 0, 2, 0, 0, 2, 0, 2, 0, 0, 0, 2, 0, 2, 0,
       0, 1, 0, 2, 2, 2, 2, 0, 2, 0, 0, 0, 1, 2, 2, 2, 2, 2, 2, 0, 2, 2,
       2, 2, 0, 1, 2, 0, 2, 0, 0, 2, 0, 2, 2, 0, 1, 0, 0, 0, 2, 2, 2, 0,
       0, 0, 0, 2, 0, 2, 2, 0, 2, 2, 1, 2, 2, 2, 2, 0, 0, 0, 0, 2, 0, 2,
       2, 0, 0, 0, 2, 2, 2, 0, 2, 2, 2, 0, 0, 2, 1, 0, 2, 0, 0, 2, 0, 2,
       1, 0, 0, 0, 0, 2, 2, 2, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 2, 2, 0, 1,
       0, 0, 2, 2, 2, 0, 0, 2, 2, 0, 2, 2, 2, 0, 2, 2, 0, 2, 0, 0, 1, 2,
       2, 0, 1, 2, 0, 1, 0, 2, 0, 2, 2, 2, 2, 2, 2, 0], dtype=int64)

In [10]:
#Dans une fonction application cette modification à tout notre DataFrame
for i in df_encoded:
    df_encoded[i]=le.fit_transform(df_encoded[i])
print(df_encoded)

     AGE  SEXE  TDT  PAR  CHOLESTEROL  GAJ  ECG  FCMAX  ANGINE  DEPRESSION   \
0     12     1    0   41          147    0    1     98       0           10
1     21     0    3   55           40    0    1     82       0           20
2      9     1    0   31          141    0    2     25       0           10
3     20     0    1   39           72    0    1     34       1           25
4     26     1    3   49           53    0    1     48       0           10
..   ...   ...  ...  ...          ...  ...  ...    ...     ...          ...
913   17     1    2   14          122    0    1     58       0           22
914   40     1    1   45           51    1    1     67       0           42
915   29     1    1   31            9    0    1     41       1           22
916   29     0    0   31           94    0    0    100       0           10
917   10     1    3   39           35    0    1     99       0           10

     PENTE  CŒUR
0        0     0
1        2     1
2        0     0
3        2     1
4        0     0
..     ...   ...
913      2     1
914      2     1
915      2     1
916      2     1
917      0     0

[918 rows x 12 columns]

In [11]:
# jeu de fonctionnalités
x=df_encoded.iloc[:,0:11]
x

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE
0,12,1,0,41,147,0,1,98,0,10,0
1,21,0,3,55,40,0,1,82,0,20,2
2,9,1,0,31,141,0,2,25,0,10,0
3,20,0,1,39,72,0,1,34,1,25,2
4,26,1,3,49,53,0,1,48,0,10,0
...,...,...,...,...,...,...,...,...,...,...,...
913,17,1,2,14,122,0,1,58,0,22,2
914,40,1,1,45,51,1,1,67,0,42,2
915,29,1,1,31,9,0,1,41,1,22,2
916,29,0,0,31,94,0,0,100,0,10,2
917,10,1,3,39,35,0,1,99,0,10,0

In [12]:
#jeu d'étiquettes
y=df_encoded.iloc[:,11]
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: CŒUR, Length: 918, dtype: int64

In [13]:
#Subdivision du jeu de données en apprentissage et en test
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size =0.2)
#train_set, test_set = train_test_split(df,test_size =0.2)

In [14]:
#Vérifier le résultat
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(734, 11) (184, 11) (734,) (184,)

In [15]:
#Création d'un objet model de la classe DecisionTreeClassifier
model=DecisionTreeClassifier(criterion='gini')
#Gini est une formule mathematique de la fonction CART

In [16]:
#Apprentissage du modèle
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [17]:
#Score d'entrainement (le taux de bonne prédiction calculé sur la base des données d'entrainement)
model.score(x_train, y_train)
#Conclusion : lorsque le modèle prédit qu'un individu est malade, nous avons 100 % de chace que cela soit vraie.

1.0

In [18]:
#Taux de bonnes prédictions
#Score d'entrainement (le taux de bonne prédiction calculé sur la base des données de test)
model.score(x_test, y_test)
#Conclusion : lorsque le modèle prédit qu'un individu est malade, nous avons 79 % de chace que cela soit vraie.

0.7989130434782609

In [31]:
#Probabilité d'appartenance à l'une des classes
predict_proba = model.predict_proba(x_test)
predict_proba[:5,:]

array([[1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.]])

In [33]:
#Application du modèle au données de test
y_pred = model.predict(x_train)
y_pred[:5]

array([1, 1, 1, 1, 0], dtype=int64)

In [28]:
#Condition pour afficher une reponse de l'etat du coeur
[model.score(y_test)].shape[0]

TypeError: score() missing 1 required positional argument: 'y'

In [29]:
df_encoded['CŒUR'].value_counts()/df.shape[0]

1    0.553377
0    0.446623
Name: CŒUR, dtype: float64